.content {
	position: relative;
	z-index: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: min(100%, 68ch);
	font-size: clamp(2rem, -0.4742rem + 6.1856vw, 2.75rem);
	height: 80vh;
	margin: 10vh 0;
}

.leftImage,
.rightImage {
	width: 100vw;
	padding-top: 100%;
	background-size: cover;
	position: absolute;
}

.leftImage {
	background: url('/encontro.jpeg');
	background-position: left 30% top;
	top: 0;
	left: 0;
}

.rightImage {
	background: url('/background.png');
	background-position: left 60% top 25%;
	bottom: 0;
	left: 0;
}

.content__socialMedias {
	list-style: none;
	margin: 60px 0 0 0;
	padding: 0;
	display: flex;
}

.content__socialMedias li:not(:last-child) {
	margin-right: 40px;
}

.content__socialMedias li {
	transition: all .2s;
}

.content__socialMedias li img {
	width: 60px;
}

.content__socialMedias li:hover {
	transform: scale(1.2);
	transition: all .2s;

}

/* Shadow */
.content:before {
	content: '';
	height: 1px;
	width: 100vw;
	box-shadow: 0 0 100px 250px var(--primary-color);
	position: absolute;
	right: 0;
	z-index: -1;
	bottom: 40%;
}

/* Shadow */
.content:after {
	content: '';
	height: 1px;
	width: 100vw;
	box-shadow: 0 0 100px 250px var(--primary-color);
	position: absolute;
	right: 0;
	z-index: -1;
	top: 40%;
}

.content__title {
	font-size: 2.25rem;
	font-weight: 500;
	margin-top: 40px;
	color: #72abe4;
	text-align: center;
}

.content__title a {
	font-weight: bold;
	transition: all .2s;
	color: var(--primary-color-contrast);
}

.content__title a:hover {
	color: var(--primary-color-dark);
	transition: all .2s;
}

.content__subtitle {
	text-align: center;
	margin-top: 50px;
	line-height: 150%;
	font-size: clamp(1.5rem, 1rem + 1.25vw, 2rem);
}

.content__future {
	color: var(--primary-color-dark);
	text-align: center;
	margin-top: 50px;
	font-size: clamp(1.5rem, 1rem + 1.25vw, 2rem);
}

main {
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	position: relative;
	z-index: 1;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background: var(--primary-color);
}

@media screen and (min-width: 1024px) {
	main {
		flex-direction: row;
		justify-content: center;
	}

	.content {
		width: 70%;
	}

	.leftImage {
		height: 100vh;
		width: 25%;
		background-size: auto 100%;
		background-position: left 70% bottom;
	}

	.rightImage {
		left: auto;
		right: 0;
		background-size: cover;
		background-position: right 20% top 35%;
		height: 100vh;
		width: 25%;
	}

	.content:after {
		height: 100vh;
		width: 1px;
		left: 25%;
		top: 0;
	}

	.content:before {
		height: 100vh;
		width: 1px;
		left: auto;
		right: 25%;
		top: 0;
		transform: rotateZ(180deg);
	}
}