---
import Image from "../components/Image.vue";
import "../styles/global.css";
import "../styles/home.css";

let title = "franco aguzzi - web's future";

---

<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width" />
	<title>{title}</title>

	<link rel="icon" type="image/x-icon" href="/favicon.ico" />
</head>

<body>
	<main>
		<div class="leftImage"></div>
		<header class="content">
			<Image width="200px" src="/acenando.png" class="content__memoji"></Image>
			<h1 class="content__title">Hi, I'm <a href="mailto:faguzzi3@gmail.com">Franco Aguzzi</a></h1>

			<p class="content__subtitle">I help building web's future. <br> Accessible, creative and performant
				purposes.</p>


			<p class="content__future">I'll share more here in the near future, <br> in the meanwhile, you can find me
				at:
			</p>

			<ul class="content__socialMedias">
				<li>
					<a href="https://www.linkedin.com/in/franco-aguzzi-546506184/">
						<img src="/linkedin.png" alt="LinkedIn logo">
					</a>
				</li>
				<li>
					<a href="https://github.com/FrancoAguzzi">
						<img src="/github.png" alt="Github logo">
					</a>
				</li>
				<li>
					<a href="mailto:faguzzi3@gmail.com">
						<img src="/email.png" alt="Email symbol">
					</a>
				</li>
			</ul>
		</header>

		<div class="rightImage"></div>
	</main>
</body>

</html>